# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment
venv/
auth_system/.env
.env


# Ignore database files
db.sqlite3

# Ignore IDE configurations
.vscode/
.idea/
